html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display', serif;
    color: #6c7279;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    padding: 0;
}

.navigation-list {
    width: 900px;
    margin: 75px auto 95px;
    text-align: center;
    padding: 0;
    font-size: 0px;
}

.navigation-list-item {
    display: inline-block;
    text-align: center; 
    padding: 0;
    margin: 0;
       
}
.navigation-list-item a {
    font-size: 14px;
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    line-height: 1.714;  
    text-decoration: none;
}
.navigation-list-item a:hover {
    color: #03a9f4;
}
.navigation-list li:not(:last-child){
    margin-right: 70px;
}
.cards-list {
    margin: 0 auto;
    padding: 0;
    font-size: 0;
    text-align: center;
}
.cards-list li:nth-last-child(-n + 2){
    margin-bottom: 55px;
}
.cards-item {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin: 0 auto 135px;
    width: 50%;
    height: auto;
    margin-right: -250px;
    
}
.card-relation {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color:#b4ad9e;
    line-height: 1.714;
    text-align: left;
    text-transform: uppercase;
    margin-top: 28px;
}
.card-name {
    font-size: 30px;
    color:#898989;
    line-height: 1.2;
    margin-top: 22px;
    text-align: left;
}
.card-description {
    font-size: 14px;
    color:#898989;
    line-height: 1.714;
    text-align: left;
    margin-top: 34px;
    padding-right: 420px;
 }
.button {
    display: block;
    text-align: center;
}

.click-here {
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 20px;
    color: #898989;
    line-height: 1.2;
    border: 1px solid #898989;
    padding: 22px 36px;
    margin: 0 auto;
    text-align: center;
}