@media (min-width: 768px) {
    .container {
        width: 660px;
        padding: 0;
    }
    .page-header-bg-container {
        background-position: center;
        background-image: url('../img/header-bg-tablet.png');
        padding: 0;
        padding-bottom: 234px;
        padding-top: 36px;
        
    }
    .page-header {
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .site-logo-tab {
        display: block;
        font-size: 20px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;    
    }
    .site-logo-tab p {
        margin: 0;
        align-self: center;
    }
    .navigation-links {
        margin: 0;
    }
    .header-inner {
        margin-top: 140px;
    }
    .site-logo-mobile {
        display: none;
    }
    .purposes-title {
        margin: 0 auto;
        width: 550px;
        font-size: 52px;
    }
    .purposes-description {
        padding: 0;
        font-size: 24px;
        margin-top: 28px;     
    }
    .button-link--1  {
        line-height: 38px;
        margin-top: 32px;     
    }
    
    .main-content {
        margin-top: 78px;
    }
    
    .people-list {
        margin: 0 auto;
        padding-left: 0;
    }
    .people-list [class*="col-"]:nth-child(-n+2) {
        margin-top: 38px;

    }
    .personal-card {
        margin-top: 54px;
        max-width: 100%;
    }
    
    
    .button-link--2 {
        margin: 0 auto;
        margin-top: 36px;
        margin-bottom: 56px;
    }
}

    @media (min-width: 940px)  {
    .container {
        width: 940px;
        padding: 0;
    }
    .page-header-bg-container {
        background-position: center;
        background-image: url('../img/header-bg-screen.png');
        padding: 0;
        padding-bottom: 234px;
        padding-top: 28px;
        
    }
    .people-list {
        margin: 0 auto;
    }
    .personal-card {
        width: 100%;
    }
    .personal-card {
        margin-top: 34px;
    }
    .personal-card:nth-child(-n+2) {
        margin-top: 34px;
    }
    .card-main-icon {
        right: 20%;
    }
    

    }


