html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.main {
    padding-bottom: 100px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    margin: 0 auto;
}
.site-logo p {
    font-size: 30px;
    font-family: "Montserrat";
    color: #95e1d3;
    font-weight: bold;
    line-height: 1;      
}

.navigation-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 490px;
    align-items: center;
    margin: 0 auto;
    padding: 0;

}

.navigation-list a {
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat";
    color:#95e1d3;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.navigation-list a:hover {
    color: #f38181;
    border-bottom: 2px solid #f38181;
}
.banner-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
    margin: 0 auto;
    margin-top: 80px;
}
.banner-1 p {
    font-size: 24px;
    font-family: "Kaushan Script";        
    color: rgb(51, 51, 51);
    line-height: 1;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.banner-1 h3 {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
.line-services {
    border-bottom: 4px solid #f38181;
    width: 60px;
    margin: auto;
}

.services-provided {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services-provided li:nth-child(-n+3) {
    margin-top: 65px;

}
.service-item {
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;

}
.service-item-icon {
    min-width: 82px;
}
.service-item-icon img {
    height: 30px;
    width: 30px;
    margin: 0 auto;
}
.service-item-description {
    display: flex;
    flex-direction: column;
    
}
.service-item-description p {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}
.service-item-description article {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    margin-top: 20px;
        
}
   
.banner-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
    margin: 0 auto;
    margin-top: 100px;
}
.banner-2 p {
    font-size: 24px;
    font-family: "Kaushan Script";        
    color: rgb(51, 51, 51);
    line-height: 1;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.banner-2 h3 {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
.line-services {
    border-bottom: 4px solid #f38181;
    width: 60px;
    margin: auto;
}
.banner-2 article {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    margin-top: 46px;
    margin-bottom: 94px;
    max-width: 946px;
}

.team-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-item {
    position: relative;
    transition: opacity 0.4s; 
}
.team-member-content-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: #95e1d3;

}
.card-item:hover .image-overlay{
    opacity: 0.9;  
}

.image-layer {
    position: relative;
    background: #fce38a;
   
}
.image-layer:hover .team-member-content{
    transform: translate(-10px, -10px);
}
.team-member-content {
    transition: transform 0.5s;
}
.img-gradient {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: linear-gradient(#ee898a, #e5cf81);
    opacity: 0.9;

}


.card-item img {
    position: relative;
    object-fit: cover;
    object-position: center;
}

.image-overlay {
    opacity: 0;
}


.image-overlay-icons {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
}
.image-overlay-icons-bg:hover {
    background-color: #95e1d3fa;
}
.image-overlay-icons-bg {
    display: flex;
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    justify-content: center;
    align-items: center;
    margin-right: 1px;
}
.image-overlay-icons-bg img {
    margin: 0;
    padding: 0;
}
.card-description {
    margin-top: 30px;
    text-align: center;
}
.member-name {
    margin: 0;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
      
}
.member-occupation {
    margin-top: 18px;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1;
      
}

.footer-block {
    display: flex;
    justify-content: space-between;
    height: 100%;
    border-top: 1px solid rgb(229, 229, 229);
    margin-top: 70px;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    
}
.all-rights-reserved {
    margin: 0 auto;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    line-height: 1;
}
.colortext {
    color: #46bfa9;
}
.contacting-form {
    display: flex;
    align-items: center;
}
    
.e-mail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    border: 1px solid rgb(229, 229, 229);
    border-right: none;
    width: 230px;
    height: 38px;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1;
}
.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #95e1d3;
    width: 150px;
    height: 38px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
}