html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}
:root {
    --succsess-color: teal;
    --fail-color: salmon;
    --caution-color: burlywood;
    --get-color: palevioletred;

}

body {
    font-family: 'Montserrat';
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.btn {
    display: block;
    border: 2px solid transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    width: 45%;
    margin: 10px;

}
.wrapper {
    background: linear-gradient(
        to bottom, 
        rgba(231, 129, 130, 0.9) 0%,
        rgba(252, 226, 138, 0.9) 100%);
        background-size: cover;
        background-position: center;  
        padding-top: 100px;
        padding-bottom: 100px;
}
.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.btn-filled {
    color: white;
    border-radius: 10px;
}
.btn-filled--succsess {
    background-color: var(--succsess-color);
}
.btn-filled--succsess:hover {
    background-color: turquoise;
}
.btn-filled--fail {
    background-color: var(--fail-color);
}
.btn-filled--fail:hover {
    background-color: coral;
}
.btn-lined {
    border-radius: 30px;
    background-color: white;
}
.btn-lined--caution {
    border: 2px solid currentColor;
    color: var(--caution-color);
}
.btn-lined--caution:hover {
    color: white;
    background-color: var(--caution-color);

}
.btn-lined--get {
    border: 2px solid currentColor;
    color: var(--get-color);
}
.btn-lined--get:hover {
    color: white;
    background-color: var(--get-color);
}

